body{
    font-family: 'PT Serif', serif;
}
.bg-yellow {
    background-color: #FFC017;
}

.border-bottom-dark {
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}
.aside-buttons > li {
    margin-bottom: 10px;
}
.border-success {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
  }
 